@inject NavigationManager NavManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage


<h3>Log In</h3>

<Form Model="@loginModel"
      OnFinish="OnFinish"
      LabelColSpan="8"
      WrapperColSpan="16">
    <FormItem Label="Username">
        <Input @bind-Value="@context.Username" />
    </FormItem>
    <FormItem Label="Password">
        <InputPassword @bind-Value="@context.Password" />
    </FormItem>
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Submit
        </Button>
    </FormItem>
</Form>

@code {
    private LoginModel loginModel = new();

    private async void OnFinish(EditContext editContext)
    {
        await localStorage.SetItemAsync("username", loginModel.Username);
        await localStorage.SetItemAsync("password", loginModel.Password);
        NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
    }
}
