@inject NavigationManager NavManager
@inject Blazored.LocalStorage.ILocalStorageService localStorageService

@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            <Layout Style="min-height: 100vh; ">
                <NavMenu />

                @*<main>
                <div class="top-row px-4">
                <a onclick="@Logout">Logout</a>
                </div>

                <article class="content px-4">
                @Body
                </article>
                </main>*@

                <Layout Class="site-layout" Style="background-color:white">
                    @*<Header Class="site-layout-background" Style=" padding: 0 ;">
                        <div style="float:right">
                            <Button Type="@ButtonType.Primary" OnClick="@Logout">Logout</Button>
                        </div>
                    </Header>*@
                    <Content Style="margin:16px;">
                        @Body
                    </Content>
                    <Footer Style="text-align:center ">Wind Power System ©2023 Created by Juson Leung</Footer>
                </Layout>
            </Layout>
        </Authorized>
        <NotAuthorized>
            <div style="position: fixed;
                        top: 30%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        ">
                <LoginView />
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private void Logout()
    {
        localStorageService.ClearAsync();
        NavManager.NavigateTo("", forceLoad: true);
    }
}