@inject NavigationManager NavManager
@inject Blazored.LocalStorage.ILocalStorageService localStorageService

@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            <Layout>
                <Header Class="header" Style="position:fixed; width:100vw; z-index: 99;">
                    <NavMenu />
                </Header>
                <Layout Class="site-layout" Style="background-color:white; margin-top:55px">
                    <Content Style="margin:16px;">
                        @Body
                    </Content>
                    <Footer Style="text-align:center;font-size:small;height:1vh">Wind Power System ©2023 Created by Juson Leung</Footer>
                </Layout>
            </Layout>
        </Authorized>
        <NotAuthorized>
            <div style="position: fixed;
                        top: 30%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        ">
                <LoginView />
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private void Logout()
    {
        localStorageService.ClearAsync();
        NavManager.NavigateTo("", forceLoad: true);
    }
}