@inject NavigationManager NavManager
@inject Blazored.LocalStorage.ILocalStorageService localStorageService

<Menu Theme="MenuTheme.Dark" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Horizontal">
    <MenuItem Key="1" RouterLink="" Icon="home">
        Wind Power System
    </MenuItem>
    <MenuItem Key="2" RouterLink="system-data" Icon="unordered-list">
        System Data
    </MenuItem>
    <MenuItem Key="3" RouterLink="system-control" Icon="control">
        System Control
    </MenuItem>

    <SubMenu Key="sub1" TitleTemplate=@chart>
        <MenuItem Key="4" Icon="line-chart" RouterLink="chart/time">Time</MenuItem>
        <MenuItem Key="5" Icon="dot-chart" RouterLink="chart/rpm">RPM</MenuItem>
        <MenuItem Key="6" Icon="dot-chart" RouterLink="chart/windspeed">Wind Speed</MenuItem>
    </SubMenu>

    <MenuItem Key="8" RouterLink="apidoc" Icon="api">
        API Doc
    </MenuItem>

    <MenuItem Style="float:right" Key="9" OnClick="@Logout" Icon="logout">
        Logout
    </MenuItem>
</Menu>

@code {
    RenderFragment chart =
    @<span>
        <Icon Type="line-chart" Theme="outline" />
        <span>Chart</span>
    </span>;

    private void Logout()
    {
        localStorageService.ClearAsync();
        NavManager.NavigateTo("", forceLoad: true);
    }
}
